@import './vars';

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.tile-counts-container {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  padding: 20px;
}

.undo-area {
  display: flex;
  align-items: center;

  .tile-used-pic {
    margin-left: 20px;
    height: 55px;
    width: 55px;
    box-shadow: 0px 0px 5px $dark;
    border: solid 1px $darker;
    border-radius: 3px;
  }
}

.tile-count {
  display: flex;
  flex-direction: column;
  margin: 20px;

  .tile-count-pic {
    box-shadow: 0px 0px 10px $dark;
    border: solid 3px $darker;
    border-radius: 5px;

    &.disabled {
      opacity: 0.6;
    }

    &:not(.disabled) {
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }

      &:active {
        opacity: 0.95;
      }
    }
  }

  .tile-count-nums {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

    .tile-count-remaining {
      margin-right: 5px;
      font-size: 2em;

      &.red {
        color: $red;
      }
    }
  }
}
